<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-none fixed-top py-2">
  <div class="container">

    <!-- BRAND -->
    <a class="navbar-brand fw-bold fs-3" href="{{ '/' | relative_url }}">
      <i class="fa-solid fa-toolbox me-2 text-primary"></i>
      {{ site.title }}
    </a>

    <!-- TOGGLER -->
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav ms-auto text-center text-lg-start mt-3 mt-lg-0">

        <li class="nav-item">
          <a class="nav-link active" href="{{ '/' | relative_url }}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ '/about/' | relative_url }}">Category</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://aridjaya.com/">About</a>
        </li>

        <!-- DROPDOWN -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Tools
          </a>
          <ul class="dropdown-menu border-0 shadow-sm text-center text-lg-start">
            <li><a class="dropdown-item" href="{{ '/categories/aesthetic/' | relative_url }}">1</a></li>
            <li><a class="dropdown-item" href="{{ '/categories/car/' | relative_url }}">2</a></li>
            <li><a class="dropdown-item" href="{{ '/categories/flower/' | relative_url }}">3</a></li>
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>