<!-- FOOTER -->
<footer class="footer" id="contact">
  <div class="container">

    <div class="row">

      <div class="col-lg-4 mb-4">
        <h4>WebTools</h4>

        <p>
          Modern online tools platform dengan desain premium dan performa tinggi.
        </p>
      </div>

      <div class="col-lg-4 mb-4">
        <h5>Quick Links</h5>

        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#tools">Tools</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>

      <div class="col-lg-4 mb-4">
        <h5>Follow Us</h5>

        <div class="d-flex gap-3 mt-3">
          <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
</footer>